# Install Libraries

In [ ]:
!pip install pymysql

Collecting pymysql
  Downloading https://files.pythonhosted.org/packages/4f/52/a115fe175028b058df353c5a3d5290b71514a83f67078a6482cff24d6137/PyMySQL-1.0.2-py3-none-any.whl (43kB)
     |████████████████████████████████| 51kB 5.7MB/s
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [ ]:
import pymysql as pm
import pandas as pd
import pymysql.cursors

## **Function to get a state's data from the COVIDNow Dataset**

In [ ]:
def getrows(state,start,end):
  conn = pm.connect(
      host = 'host',
      user = 'admin',
      password = 'password',
      db = 'dbname',
      cursorclass = pymysql.cursors.DictCursor)
  try:
      cur = conn.cursor()
      print("Connection Established")
      Cmd = '''
      SELECT `date`, county, fips, `actuals.newCases`, 
      AVG(`actuals.newCases`) OVER (PARTITION BY county order by `date` ROWS between 7 preceding and current row) as 7day_Rolling_Avg_cases,
      `actuals.newDeaths`, AVG(`actuals.newDeaths`) OVER (PARTITION BY county order by `date` ROWS between 7 preceding and current row) as 7day_Rolling_Avg_deaths,
      `metrics.testPositivityRatio`, `metrics.caseDensity`, `metrics.infectionRate`, 
      round((`actuals.newCases`/`metrics.testPositivityRatio`),0) AS `daily tests`,
      round(((`actuals.newCases`/`metrics.testPositivityRatio`)-`actuals.newCases`),0) AS `daily negatives`
      FROM covidNOW.CAN_CBAP_timeseries '''+'''WHERE state = "''' + str(state) + '''" AND (`date` BETWEEN "'''+ str(start) + '''" AND "''' + str(end) + '''") ;'''
      cur.execute(Cmd)
      rows = cur.fetchall()
      return rows
  finally:
      conn.close()

## **Function to get weather information**

In [ ]:
def getrows1(start,end):
  conn = pm.connect(
      host = 'host',
      user = 'admin',
      password = 'password',
      db = 'dbname',
      cursorclass = pymysql.cursors.DictCursor)
  try:
      cur = conn.cursor()
      print("Connection Established")
      Cmd = '''
      SELECT county_fips_code AS fips, `date`, avg_temperature_air_2m_f AS temperature, avg_humidity_relative_2m_pct AS humidity
      FROM covidNOW.demo_temp '''+'''WHERE (`date` BETWEEN "'''+ str(start) + '''" AND "''' + str(end) + '''") ;'''
      cur.execute(Cmd)
      rows = cur.fetchall()
      return rows
  finally:
      conn.close()

## **Function to get demographic information for a state**

In [ ]:
def getstatic(state):
  conn = pm.connect(
      host = 'host',
      user = 'admin',
      password = 'password',
      db = 'dbname',
      cursorclass = pymysql.cursors.DictCursor)
  try:
      cur = conn.cursor()
      print("Connection Established")
      Cmd = "SELECT state, fips, lat, lon, population, pop_density, diabetes, heart_disease, sex_ratio, median_age, white_pop, asian_pop, black_pop, hispanic_pop FROM covidNOW.static WHERE state = '" + str(state) + "';"
      cur.execute(Cmd)
      rows = cur.fetchall()
      return rows
  finally:
      conn.close()

# **Enter State**

In [ ]:
state = 'NC'

In [ ]:
#Provide start and end date
start_date = pd.to_datetime('01-01-2020')
end_date = pd.to_datetime('05-16-2021')

# **The covidnow dataset**

In [ ]:
covidnow = getrows(state, start_date, end_date)
df = pd.DataFrame(covidnow)
#Make sure 'date' column is interpreted as a date and not a string
df['date'] = pd.to_datetime(df['date'])

#Change FIPS code from string to integer type 
df['fips'] = df['fips'].astype(int)
df.head(-10)

Connection Established

            date           county  ...  daily tests  daily negatives
0     2020-01-22  Alamance County  ...          NaN              NaN
1     2020-01-23  Alamance County  ...          NaN              NaN
2     2020-01-24  Alamance County  ...          NaN              NaN
3     2020-01-25  Alamance County  ...          NaN              NaN
4     2020-01-26  Alamance County  ...          NaN              NaN
...          ...              ...  ...          ...              ...
48085 2021-05-02    Yancey County  ...          0.0              0.0
48086 2021-05-03    Yancey County  ...         63.0             55.0
48087 2021-05-04    Yancey County  ...          0.0              0.0
48088 2021-05-05    Yancey County  ...         60.0             51.0
48089 2021-05-06    Yancey County  ...         29.0             25.0

[48090 rows x 12 columns]

In [ ]:
df[df['county'] == 'Wake County']

            date       county  ...  daily tests  daily negatives
43771 2020-01-22  Wake County  ...          NaN              NaN
43772 2020-01-23  Wake County  ...          NaN              NaN
43773 2020-01-24  Wake County  ...          NaN              NaN
43774 2020-01-25  Wake County  ...          NaN              NaN
43775 2020-01-26  Wake County  ...          NaN              NaN
...          ...          ...  ...          ...              ...
44247 2021-05-12  Wake County  ...       3155.0           3008.0
44248 2021-05-13  Wake County  ...       2500.0           2387.0
44249 2021-05-14  Wake County  ...          0.0              0.0
44250 2021-05-15  Wake County  ...       5266.0           5048.0
44251 2021-05-16  Wake County  ...          0.0              0.0

[481 rows x 12 columns]

## **Weather time series dataset**

In [ ]:
weather_data = getrows1(start_date, end_date)
df2 = pd.DataFrame(weather_data)

# Change 'date' to datetime datatype 
df2['date'] = pd.to_datetime(df2['date'])
# Change FIPS code to INT64 from FLOAT64
df2['fips'] = df2['fips'].astype(int)
df2.head()

Connection Established

    fips       date  temperature  humidity
0  17063 2021-01-18         25.7      86.0
1   8061 2021-01-18         34.3      54.0
2   8083 2021-01-18         33.9      54.0
3  19181 2021-01-18         25.3      84.0
4  46025 2021-01-18         22.8      92.0

# **Static demographics dataset**

In [ ]:
static = getstatic(state)
df3 = pd.DataFrame(static)

# Change FIPS code and all population numbers to INT64 from FLOAT64
df3[['fips','population','white_pop','asian_pop','black_pop','hispanic_pop']] = df3[['fips','population','white_pop','asian_pop','black_pop','hispanic_pop']].astype(int)
df3.head(10)

Connection Established

  state   fips        lat  ...  asian_pop  black_pop  hispanic_pop
0    NC  37001  36.037343  ...       2478      30569         19905
1    NC  37003  35.916776  ...        402       2105          1723
2    NC  37005  36.491055  ...         26        255          1054
3    NC  37007  34.976201  ...        335      12333           999
4    NC  37009  36.433254  ...        114        199          1336
5    NC  37011  36.074592  ...        149        770           896
6    NC  37013  35.494190  ...         38      11826          3609
7    NC  37015  36.065336  ...        125      11899           408
8    NC  37017  34.608631  ...         35      11648          2523
9    NC  37019  34.074922  ...        779      12966          6028

[10 rows x 14 columns]

## **TOPSIS input creator**

## **Enter Date Range**

In [ ]:
#Provide start and end date
start_date = pd.to_datetime('07-30-2020')
end_date = pd.to_datetime('12-28-2020')

In [ ]:
t1 = df.loc[df.date.between(start_date, end_date+ pd.to_timedelta(6, unit = 'D')),
               ['county','fips','metrics.testPositivityRatio']].groupby(['county'],as_index = False).mean()

t21 = df.loc[df.date.between(start_date-pd.to_timedelta(7,unit ='D'), start_date-pd.to_timedelta(1, unit = 'D')),
               ['county','actuals.newCases']].groupby(['county'], as_index = False).sum()

t22 = df.loc[df.date.between(end_date, end_date+pd.to_timedelta(6, unit = 'D')),
               ['county','actuals.newCases']].groupby(['county'], as_index = False).sum()

t1['4weekAvgcases'] = (t22['actuals.newCases'] - t21['actuals.newCases'])/4

In [ ]:
t1 = t1.merge(df3, on = 'fips', how = 'inner')
t1['4weekAvgcases'] = t1['4weekAvgcases']/(t1['population']/100000)

In [ ]:
t1.iloc[:,[0,1,2,3,5,6,7]]

              county   fips  ...        lon  population
0    Alamance County  37001  ... -79.398844      169509
1   Alexander County  37003  ... -81.172017       37497
2   Alleghany County  37005  ... -81.126195       11137
3       Anson County  37007  ... -80.104771       24446
4        Ashe County  37009  ... -81.498915       27203
..               ...    ...  ...        ...         ...
95      Wayne County  37191  ... -78.008452      123131
96     Wilkes County  37193  ... -81.161330       68412
97     Wilson County  37195  ... -77.920576       81801
98     Yadkin County  37197  ... -80.663555       37667
99     Yancey County  37199  ... -82.309960       18069

[100 rows x 7 columns]

## **Master database creator**

In [ ]:
inter_df = df.merge(df2, how = 'inner', on = ['date','fips'])

In [ ]:
master_df = inter_df.merge(df3, how = 'inner', on = 'fips')
master_df.head(-10)

             date           county   fips  ...  asian_pop  black_pop  hispanic_pop
0      2020-05-01  Alamance County  37001  ...       2478      30569         19905
1      2020-05-01  Alamance County  37001  ...       2478      30569         19905
2      2020-05-01  Alamance County  37001  ...       2478      30569         19905
3      2020-05-02  Alamance County  37001  ...       2478      30569         19905
4      2020-05-02  Alamance County  37001  ...       2478      30569         19905
...           ...              ...    ...  ...        ...        ...           ...
113985 2021-05-12    Yancey County  37199  ...         43        129           899
113986 2021-05-12    Yancey County  37199  ...         43        129           899
113987 2021-05-12    Yancey County  37199  ...         43        129           899
113988 2021-05-13    Yancey County  37199  ...         43        129           899
113989 2021-05-13    Yancey County  37199  ...         43        129           899

[113990 rows x 27 columns]

In [ ]:
from google.colab import files
master_df.to_csv('data.csv')
files.download('data.csv')